.App {
  text-align: center;
}
.person-card{
  width: 15%;
  margin: 0 auto;
  text-align: left;
}

button{
  width: 100%;
  border: none;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}
